﻿@model taban.Models.Gallery

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<a href="~/Views/Galleries/Details.cshtml">~/Views/Galleries/Details.cshtml</a>

<div>
    <h4>Gallery</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Photourl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Photourl)
            
            <img src="@Url.Content(Model.Photourl)"/>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |

    <a asp-action="Index">Back to List</a>
</div>
